.head {
    border: solid 5px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    background-color: rgb(91, 91, 255);
    }

.topimg {
    border: solid 10px;
          }

.img1 {
    width: 50%;
    height: auto;
}

.img2 {
    width: 50%;
    height: auto;

}

figcaption {
    font-size: 10px;
}
    


.logo {

      margin-right: auto;
      margin-left: 24%;
}

.top {
    border: solid 5px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: rgb(91, 91, 255);
           
}



.toptxt {
    border: solid green 5px;
    margin-left: 30%;
    margin-right: 25%;
}

.info {
    border: solid yellow 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.infoimgs {
    display: flex;
    flex-direction: row;
    border: solid pink 5px;
    justify-content: space-around;  
    margin-left: 20%;
    margin-right: 20%;
    }
