.head {
    border: solid 2px;
    display: flex;   
    background-color: #7da7e0;
    justify-content: space-between;            
        }

.headlinks {
    display: flex;         
    padding-right: 15%; 
    
    border: solid 2px;  

    
}



.link1, .link2, .link3 {    
       
    padding: 5px 10px;
    font-size: 18px;
    color: #e5e7eb;
}





.img1 {
    width: 400px;
    height: 200px;
    border: solid 2px;
}

.img2 {
    width: 150px;
    height: auto;
    border: solid blue 5px;
    border-radius: 8px;

}

figcaption {
    font-size: 18px;    
    border: solid 2px;
    
    
}
    


.logo {      
      
      font-size: 24px;
      color: #e5e7eb;
      padding-left: 20%;
      border: solid red 2px;
      font-weight: bolder;
      
      
}

.top {
    border: solid 2px;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #7da7e0;
    justify-content: center;    
           
}



.toptxt {
    
    
    padding-right: 25%;
    font-size: 28px;
    font-weight: bolder;
    color: #f9faf8
}
    
.topp {
    font-size: 18px;
    color: #e5e7eb;
    
    }
    


.info {
    border: solid yellow 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.infoimgs {
    display: flex;
    flex-direction: row;
    border: solid pink 5px;
    justify-content: space-around;  
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    text-align: center;
    }

.quote {
    background-color: #e5e7eb;
        
    padding: 5% 30%;
    border: solid green 2px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    }

    .quotename {
        text-align: right;
    }



    .bottom {
        display: flex;
        margin: 5% 20%;
        border: solid yellow 2px;
        background-color: #7da7e0;
    }

.botxt {

border: solid 2px;
}

.botton {

    border: solid 2px;

}