.head {
    
    display: flex;   
    background-color: #1f2937;
    justify-content: space-between;            
        }

.headlinks {
    display: flex;         
    padding-right: 15%; 
    
    

    
}

.topbut {
    background-color: #3882f6;  
    color: #f9f9f8;   
    border: none;
}

.topbut:focus {
    border: none;
    outline: none;
}




.link1, .link2, .link3 {    
       
    padding: 5px 10px;
    font-size: 18px;
    color: #e5e7eb;
}





.img1 {
    width: 400px;
    height: 200px;
    border: solid 2px;
}

.img2 {
    width: 150px;
    height: auto;
    
    border-radius: 8px;

}

figcaption {
    font-size: 18px;    
    
    
    
}
    


.logo {      
      
      font-size: 24px;
      color: #e5e7eb;
      padding-left: 20%;
    
      font-weight: bolder;
      
      
}

.top {
    
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #1f2937;
    justify-content: center;    
           
}



.toptxt {
    
    
    padding-right: 25%;
    font-size: 28px;
    font-weight: bolder;
    color: #f9faf8
}
    
.topp {
    font-size: 18px;
    color: #e5e7eb;
    
    }
    


.info {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.infoimgs {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;  
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    text-align: center;
    }

.quote {
    background-color: #e5e7eb;
        
    padding: 5% 30%;
    
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    }

    .quotename {
        text-align: right;
    }



    .bottom {
        display: flex;
        margin: 5% 20%;
        justify-content: space-around;
        background-color: #3882f6;
        border-radius: 5px;
        
        
        
    }

    .botxt {
        display: flex;
        flex-direction: column;
        margin: 2%
        
        
        

        }

    .botton {

        border: solid 2px;
        height: 50%;
        margin-top: 35px;      
        background-color: #3882f6;  
        color: #f9f9f8;
        border-radius: 5px;
        
        
                
    }

    .action {
        
        margin-top: -20px;
        color: #f9f9f8;
    }

    h3 {

        
        color: #f9f9f8;
    }